@import '../../style-variables/variables.scss';

.search-box-container {
  flex-basis: 100%;
  .search-box {
    width: 100%;
    font-size: 16px;
    line-height: 21px;
    color: $text-color;
    padding: 12px 0px 15px 24px;
    margin-bottom: 11px;

    #selectExampleClassic {
      width: 50px;

      .css-sjawnh-control {
        width: 50px;

        .css-n8k1z3-ValueContainer {
          width: 50px;
        }
      }
    }
  }
}
