$light-background: rgba(0, 57, 97, 0.07);
$primary-color: #0075b7;
$secondary-color: #004372;
$tertiary-color: #fff;
$text-color: #3f4142;
$secondary-text-color: #303031;
$tertiary-text-color: #000;

$link-color: #107e9e;
