@import './style-variables/variables.scss';

.ricerca-moduli {
  width: 100%;

  .page-header {
    padding: 30px 0px 55px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto 75px;
    width: 50%;

    .breadcrumb-container {
      flex-basis: 100%;

      .breadcrumb {
        color: #333333;
        font-size: 16px;
        line-height: 24px;

        .breadcrumb-item {
          a {
            color: $link-color;
            font-weight: normal;
          }
        }
      }
    }

    .text-container {
      flex-basis: 60%;
      margin-bottom: 75px;

      h2 {
        font-size: 40px;
        line-height: 48px;
        color: $text-color;
        width: 70%;
        margin-bottom: 30px;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        color: $text-color;
      }
    }

    .search-group-container {
      background-color: $primary-color;
      display: flex;
      flex-wrap: wrap;
      flex-basis: 100%;
      padding: 18px 34px 15px;

      .filters-line {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
      }

      button {
        background-color: #e4d56c;
        font-size: 18px;
        line-height: 20px;
        color: $secondary-text-color;
        border-radius: 4px;
        width: 199px;
        height: 40px;
      }
    }
  }

  .pagination-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 54.3px;

    .page-indication {
      display: flex;
      align-items: center;

      p {
        font-size: 16px;
        line-height: 24px;
        color: #5c6f82;
        text-align: center;
        font-weight: 600;
      }
    }
  }
}
